<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS</title>
    {% load static %}
</head>
<body bgcolor="#a9a9a9">
<center><h1>USERS</h1></center>

{% for users in users %}
<b>FULLNAME :</b>{{ users.fullname }}<br>
<b>USERNAME :</b>{{ users.username }}<br>
<b>EMAIL :</b>{{ users.email }}<br>
<b>PASSWORD :</b>{{ users.password }}<br>
<b>AGE :</b>{{ users.age }}<br>
<b>YOB :</b>{{ users.yearofbirth }}<br>
    <hr>
    <br><br>
{% endfor %}
</body>
</html>